header{
    display: flex;flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family:Roboto , sans-serif;
    font-weight: bold;

    background: rgb(7, 18, 34);


}

header nav ul{
    display: flex;
    flex-direction: row;
    
}
header nav ul li{
   color: #fff;
   margin: 0 3em;
   margin-bottom: 15px;
}
header nav ul li a{
    color: #fff;

}
.btn-orange{
   background:orangered;
   background-image: repeating-linear-gradient(to right , orangered , rgb(255, 145, 0));
    
    padding: 3px 20px;
    width: 20px;
    border-radius: 16px;
    color: #fff;
   text-shadow: 1px 2px 2px black;

}
.btn-orange:hover{
   background:rgb(255, 145, 0) ;
  color:#fff;
  border:solid;
}
header nav ul li a:hover{
   background:#fff;
    color:rgb(255, 145, 0);
    border:solid;
    border-radius: 6px;
    transition-delay: 0.1s;

}



header img {
    margin: 0 3rem;
    border-radius: 50%;
}